<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" ng-app="biblioApp">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Biblioteca</title>
	<link rel="stylesheet" href="css/core.css" type="text/css" />
	<link rel="stylesheet" href="css/ngDialog.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<header></header>
	<!--<nav class="main-menu"></nav>-->
	<nav class="submenu">
		<div class="submenu-selector">
			<div class="submenu-selector-left">title</div>
			<div class="submenu-selector-right">author</div>
		</div>
	</nav>
	<div class="main-container" ng-controller="MainCtrl">
		<div class="book-list-container">
			<ul>
				<li>
					<a ng-click="clickToOpen()">
						<div class="book-list-image-container"><img src="images/51fNLBMXlEL.jpg" alt="" /></div>
						<div class="book-list-info">
							<h3>Designing Brand Identity: An Essential</h3>
							<p>Foreman, John W.</p>
						</div>
					</a>
				</li>
				<li>
					<a ng-click="clickToOpen()">
						<div class="book-list-image-container"><img src="images/title_page.png" alt="" /></div>
						<div class="book-list-info">
							<h3>Raspberry Pi User Guide</h3>
							<p>Upton, Eben</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://">
						<div class="book-list-image-container"><img src="images/tothepoint.jpg" alt="" /></div>
						<div class="book-list-info">
							<h3>Steal Like an Artist: 10 Things Nobody...</h3>
							<p>Foreman, John W.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://">
						<div class="book-list-image-container"><img src="images/417eQ5d7FiL.jpg" alt="" /></div>
						<div class="book-list-info">
							<h3>Steal Like an Artist: 10 Things Nobody...</h3>
							<p>Foreman, John W.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://">
						<div class="book-list-image-container"><img src="images/71tHm-lfBzL.jpg" alt="" /></div>
						<div class="book-list-info">
							<h3>Steal Like an Artist: 10 Things Nobody...</h3>
							<p>Foreman, John W.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://">
						<div class="book-list-image-container"><img src="images/71aTsq1zJrL.jpg" alt="" /></div>
						<div class="book-list-info">
							<h3>Steal Like an Artist: 10 Things Nobody...</h3>
							<p>Foreman, John W.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://">
						<div class="book-list-image-container"><img src="images/51WS36aA2BL.jpg" alt="" /></div>
						<div class="book-list-info">
							<h3>Steal Like an Artist: 10 Things Nobody...</h3>
							<p>Foreman, John W.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://">
						<div class="book-list-image-container"><img src="images/41wLVOJ118L.jpg" alt="" /></div>
						<div class="book-list-info">
							<h3>Steal Like an Artist: 10 Things Nobody...</h3>
							<p>Foreman, John W.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://">
						<div class="book-list-image-container"><img src="images/cover.jpeg" alt="" /></div>
						<div class="book-list-info">
							<h3>Raspberry Pi Projects</h3>
							<p>Foreman, John W.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://">
						<div class="book-list-image-container"><img src="images/41VMVCS0mrL._SX329_BO1,204,203,200_.jpg" alt="" /></div>
						<div class="book-list-info">
							<h3>Internet of Things: A Hands-On Approach</h3>
							<p>Foreman, John W.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://">
						<div class="book-list-image-container"><img src="images/41If6zJ9QML._SX362_BO1,204,203,200_.jpg" alt="" /></div>
						<div class="book-list-info">
							<h3>Internet of Things: A Hands-On Approach</h3>
							<p>Foreman, John W.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://">
						<div class="book-list-image-container"><img src="images/41LKmOCdmgL._SX331_BO1,204,203,200_.jpg" alt="" /></div>
						<div class="book-list-info">
							<h3>Internet of Things: A Hands-On Approach</h3>
							<p>Foreman, John W.</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://">
						<div class="book-list-image-container"><img src="images/41JrF-s+a0L._SX329_BO1,204,203,200_.jpg" alt="" /></div>
						<div class="book-list-info">
							<h3>Inequality: What Can Be Done?</h3>
							<p>B. Atkinson, Anthony</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://">
						<div class="book-list-image-container"><img src="images/412xzgc+SDL._SX400_BO1,204,203,200_.jpg" alt="" /></div>
						<div class="book-list-info">
							<h3>About Face: The Essentials of Intera...</h3>
							<p>Cooper, Alan & Robert..</p>
						</div>
					</a>
				</li>
				<li>
					<a href="http://">
						<div class="book-list-image-container"><img src="images/41JWTd4PCWL._SX331_BO1,204,203,200_.jpg" alt="" /></div>
						<div class="book-list-info">
							<h3>Lean UX: Applying Lean Principles t...</h3>
							<p>Gothelf, Jeff</p>
						</div>
					</a>
				</li>
				
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="scripts/angular.min.js"></script>
	<script type="text/javascript" src="scripts/ngDialog.min.js"></script>
	<script type="text/javascript" src="scripts/controllers.js"></script>
	<script type="text/ng-template" id="popupTmpl">
		<div id="target">
          <div class="ngDialog-container">
          	<div class="ngDialog-close"></div>
          	<div class="ngDialog-image-container">
          		<img src="images/tothepoint.jpg" alt="" />
          	</div>
          	<div class="ngDialog-book-info">
          		<h2>You Can Draw in 30 Days: The Fun, Easy Way to Learn to Draw in One Month or Less</h2>
          		<p class="ngDialog-book-info-author">Foreman, John W.</p>
          		<p class="ngDialog-book-info-date">JUNE 22, 2015</p>
          		<p class="ngDialog-book-info-isbn"><strong>ISBN-13: </strong>978-1118794388
          		<br />
          		<strong>ISBN-10: </strong>111866146X</p>          		
          	</div>
          	<p class="ngDialog-book-description">
          				Data Science gets thrown around in the press like it's magic. Major retailers are predicting everything from when their customers are pregnant to when they want a new pair of Chuck Taylors. It's a brave new world where seemingly meaningless data can be transformed into valuable insight to drive smart business decisions.
          				
          				But how does one exactly do data science? Do you have to hire one of these priests of the dark arts, the "data scientist," to extract this gold from your data? Nope.
          				
          				Data science is little more than using straight-forward steps to process raw data into actionable insight. And in Data Smart, author and data scientist John Foreman will show you how that's done within the familiar environment of a spreadsheet.
          				</p>
          	
          	          	
          </div>
        </div>
	</script>
</body>
</html>